.filter{
    grid-template-columns: 300px 1fr;
}

@media screen and (max-width: 768px ) {
    .filter{
        padding: 0 30px;
        padding-top: 112px;
    }
    
}
@media screen and (max-width: 1024px ) {
    .filter{
        grid-template-columns: 1fr;
    }
    
}